.users-list {
  padding: 0 12px;
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  bottom: 0;
  background-color: #FBFBFB;
  z-index: 1;

  &__search {
    margin-top: 10px;
  }

  &__submit {
    display: none;
  }
}

