@import "/src/styles/variables";

.users-list {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  bottom: 0;
  background-color: #FBFBFB;
  z-index: 1;

  &__item {
    padding: 12px 10px;
    border-bottom: 1px solid $light-gray;
  }
}
