<div class="container">
  <h3 class="container__title">Регистрация</h3>
  <form>
    <input class="text-input m-t-14" name="email" placeholder="Почта" type="email">
    <input class="text-input m-t-6" name="login" placeholder="Логин" type="text">
    <input class="text-input m-t-6" name="first_name" placeholder="Имя" type="text">
    <input class="text-input m-t-6" name="second_name" placeholder="Фамилия" type="text">
    <input class="text-input m-t-6" name="phone" placeholder="Телефон" type="tel">
    <input class="text-input m-t-6" name="password" placeholder="Пароль" type="password">
    <input class="text-input m-t-6" name="password_confirm" placeholder="Пароль (ещё раз)" type="password">
    <!--<button type="submit" class="button container__button">Зарегистрироваться</button>-->
    <!--Времмено добавлена ссылка, чтобы можно было "погулять" по прототипу-->
    <a href="../index.html" type="submit" class="button container__button">Зарегистрироваться</a>
  </form>
  <a class="container__link m-t-6" href="../index.html">Войти</a>
</div>