@import "styles/variables";

.chat-page {
  display: flex;
  align-items: stretch;
  height: 100vh;
}

.chat-list {
  flex-shrink: 0;
  padding: 20px 10px;
  width: 310px;
  background-color: #FBFBFB;

  &__profile {
    font-size: 12px;
    line-height: 12px;
    color: $gray;
  }

  &__search {
    padding: 10px;
    margin-top: 24px;
    width: 100%;
    border-radius: 5px;
    background-color: $light-gray;
    box-sizing: border-box;
    outline: none;
    border: none;
  }

  &__items {
    margin-top: 12px;
  }

  &__item {
    padding: 12px 0;
    border-top: 1px solid $light-gray;
    display: flex;
    align-items: flex-start;

    &-avatar {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: $light-gray;
      flex-shrink: 0;
    }

    &-center {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    &-name {
      font-size: 12px;
      font-weight: bold;
      color: $black;
    }

    &-message {
      margin-top: 4px;
      font-size: 12px;
      line-height: 12px;
      color: $gray;
    }

    &-right {
      margin-left: 28px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      flex-shrink: 0;
    }

    &-time {
      font-size: 8px;
      line-height: 13px;
      color: $gray;
    }

    &-notion {
      margin-top: 12px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $blue;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 11px;
      line-height: 11px;
    }
  }


}

.chat {
  flex-grow: 1;
  position: relative;

  &__header {
    padding: 10px 0;
    margin: 0 20px;
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    align-items: center;

    &-avatar {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: #EFEFEF;
    }

    &-name {
      margin-left: 10px;
      font-size: 12px;
      line-height: 12px;
      font-weight: bold;
      color: $black;
    }
  }

  &__messages {
    margin-bottom: 54px;
    height: calc(100% - 110px);
    padding: 10px 20px;
    overflow-y: scroll;
  }

  &__date {
    color: $gray;
    font-size: 12px;
    line-height: 12px;
    margin: 0 auto;
    text-align: center;
  }

  &__item {
    margin-top: 28px;
    width: 40%;
    padding: 10px;
    position: relative;
    font-size: 12px;
    line-height: 12px;
    color: $black;
    background-color: #F8F8F8;
    border-radius: 8px;

    &_own {
      margin-left: auto;
      background-color: #E4EDFD;
    }

    &-time {
      font-size: 8px;
      line-height: 8px;
      color: $gray;
      position: absolute;
      right: 10px;
      bottom: 10px;

      &_own {
        color: $blue;
      }
    }
  }

  &__form {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #EAEAEA;
    padding: 10px 0;
    margin: 0 20px;
    display: flex;
    align-items: center;
  }

  &__message {

    width: 100%;
    padding: 10px;
    font-size: 12px;
    line-height: 12px;
    background-color: #EFEFEF;
    outline: none;
    border: none;
    border-radius: 17px;
    margin-right: 10px;
  }

  &__submit {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: $blue;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
  }
}