---
stylesheets:
- ../../styles/default.scss
title: Чаты
bodyclass: flex

---

{{#extend "base"}}
  {{#content "main"}}
    <div>
      <h3>Здесь будут чаты</h3>
      <br>
      <a href="../index.hbs">Главная</a>
    </div>
  {{/content}}
{{/extend}}
