---
stylesheets:
- ../../styles/default.scss
- ./profile.scss
title: Профиль
bodyclass: flex
userInfo: [
  {key: 'Почта', value: 'example@mail.com'},
  {key: 'Логин', value: 'shurumov'},
  {key: 'Имя', value: 'Алексей'},
  {key: 'Фамилия', value: 'Шуруомв'},
  {key: 'Имя в чате', value: 'Алексей'},
  {key: 'Телефон', value: '+7 (913) 567 45-67'},
]

---

{{#extend "base"}}
  {{#content "main"}}
    <div class="profile">
      <div class="profile__image">
        <img src="./placeholder.png" alt="">
        <div class="profile__change flex">Поменять<br>аватар</div>
      </div>
      <div class="profile__name m-t-5">
        Алексей
      </div>
      <div class="text-list m-t-12">
        {{#each userInfo}}
          <div class="text-list__item">
            <div class="text-list__item-key">
              {{this.key}}
            </div>
            <div class="text-list__item-value">
              {{this.value}}
            </div>
          </div>
        {{/each}}
      </div>
      <div class="text-list m-t-10">
        <div class="text-list__item">
          <a href="/edit-profile/index.hbs">Изменить данные</a>
        </div>
        <div class="text-list__item">
          <a href="/edit-password/index.hbs">Изменить пароль</a>
        </div>
        <div class="text-list__item text-list__item_exit">
          <a href="/">Выйти</a>
        </div>
      </div>
    </div>
  {{/content}}
{{/extend}}
