---
stylesheets:
- ../../styles/error-page.scss
- ../../styles/default.scss
title: 404
---

{{#extend "base"}}
  {{#content "main"}}
    <main class="error-page">
      <div class="error-page__content">
        <h3 class="error-page__title">{{title}}</h3>
        <div class="error-page__text">Не туда попали</div>
        <a class="error-page__link" href="/">Назад к чатам</a>
      </div>
    </main>
  {{/content}}
{{/extend}}
