<div class="container">
  <h3 class="container__title">Вход</h3>
  <form>
    <input class="text-input m-t-14" name="login" placeholder="Логин" type="text">
    <input class="text-input m-t-8" name="password" placeholder="Пароль" type="password">
    <!--        <button type="submit" class="button container__button">Авторизация</button>-->
    <!--        Времмено добавлена ссылка, чтобы можно было "погулять" по прототипу-->
    <a href="chat/index.hbs" class="button container__button">Авторизация</a>
  </form>
  <a class="container__link m-t-6" href="sign-in/index.hbs">Нет аккаунта?</a>
</div>
