@import "src/styles/variables";

.chat-message {
  //height: 52px;
  width: 100%;
  box-sizing: border-box;

  &__input {
    width: 100%;
    padding: 10px;
    font-size: 12px;
    line-height: 12px;
    background-color: #EFEFEF;
    border: 1px solid #EFEFEF;
    outline: none;
    border-radius: 17px;
    margin-right: 10px;

    &:focus {
      outline: none;
    }

    &.invalid {
      border: 1px solid $red;

      &:focus {
        border-color: 2px solid $blue;
      }
    }
  }
}